.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    color: aliceblue;
}
.title {
    margin: 1rem 0;
}
.sub-title {
    margin: 0;
}
.input {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-input {
    width: 60vw;
    height: 2rem;
    margin-right: 0.3rem;
    font-size: 1.1em;
    border: 1px solid cornflowerblue;
    padding-left: 0.5rem;
}
.add-btn {
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 50%;
}
.add-btn:hover {
    background-color: cornflowerblue;
    padding: 0.5rem;
}
